@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body, html {
	color: #AAA;
	font-family: Helvetica Neue;
	font-weight: 200;
	user-select: none;
	animation: fadein 0.75s;
}

.titlebar {
	margin: -10px -10px 50px -12px;
	height: 20px;
	background: transparent;
	width: calc(100% + 20px);
	-webkit-user-select: none;
	-webkit-app-region: drag;
}

h1 {
	font-weight: 100;
	text-align: center;
	cursor: default;
}

#loading {
	width: 30px;
	top: 47px;
	position: absolute;
	margin-left: 20px;
	display: none;
}

#put-in-tray {
	right: 10px;
	top: 5px;
	width: 13px;
	height: 13px;
	position: absolute;
	-webkit-app-region: no-drag;
	border-radius: 50%;
	background: #CCC;
}

#put-in-tray > img {
	display: none;
}

#put-in-tray:hover {
	box-shadow: none;
}

#put-in-tray:hover > img {
	display: block;
}

#put-in-tray img {
	width: 7px;
	margin: 0 0 -1.5px -3px;
	opacity: 0.7;
}

form {
	text-align: center;
	margin-bottom: 70px;
}

form input {
	background: #303030;
	border: none;
	border-radius: 4px;
	font-size: 12px;
	height: 30px;
	padding-left: 5px;
	vertical-align: middle;
	width: 250px;
	color: #AAA;
}

form input:focus {
	border: none;
	box-shadow: 0 0 4px rgba(81, 203, 238, 1);
	outline: none;
	transition: 0.3s;
}

button {
	background: #303030;
	border: none;
	color: #AAA;
	border-radius: 4px;
	height: 32px;
	width: 40px;
	outline: none;
	transition: all 0.3s
}

button:hover {
	cursor: pointer;
	box-shadow: 0 0 4px rgba(81, 203, 238, 1);
	transition: all 0.3s
}

#download-btn img {
	width: 22px;
	position: relative;
	margin-bottom: -9.8px;
	bottom: 3px;
}

#title {
	text-align: center;
	font-size: 16px;
}

video, audio {
	margin-top: 0px;
	width: 100%;
}

audio {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

video::-webkit-media-controls-panel, audio::-webkit-media-controls-panel {
	background-color: #232323;
}

video::-webkit-media-controls-volume-slider-container, audio::-webkit-media-controls-volume-slider-container {
	background-color: #303030;
}

video::-webkit-media-controls-volume-slider, audio::-webkit-media-controls-volume-slider {
	background-color: #303030;
}

video::-webkit-media-controls-timeline, audio::-webkit-media-controls-timeline {
	background-color: #202020;
}

video::-webkit-media-controls, audio::-webkit-media-controls {
	filter: grayscale(100%);
	opacity: 0.7;
}

#percentage {
	margin: 50px 0 20px 0;
}

/* About Window */

.about-window {
	position: absolute;
	text-align: center;
	font-size: 13px;
	margin: -40px 20px 0 20px;
}

.about-window a {
	text-decoration: none;
	color: orange;
}

.about-window span {
	display: block;
	margin: 10px 0;
}

/* Preferences Window */

.preferences-window {
	margin: 0;
}

.preferences-window h1 {
	margin-top: -20px;
}

.preferences-window span {
	display: inline;
}

.checkboxes {
	display: block;
	text-align: center;
}

.checkboxes * {
	margin: 10px 5px;
}

.checkboxes input {
	position: relative;
	top: -1px;
}

