@font-face {
    font-family: SF;
    src: url(../fonts/SF.otf);
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body, html {
	color: #AAA;
	font-family: "SF";
	font-weight: 100;
	user-select: none;
	animation: fadein 0.75s;
}

.titlebar {
	margin: -10px -10px 40px -12px;
	height: 20px;
	background: transparent;
	width: calc(100% + 20px);
	-webkit-user-select: none;
	-webkit-app-region: drag;
}

h1 {
	margin-top: -45px;
	margin-bottom: 50px;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	cursor: default;
	-webkit-user-select: none;
	-webkit-app-region: drag;
}

#loading {
	width: 20px;
	top: 9.5px;
	right: 40px;
	position: absolute;
	margin-left: 20px;
	display: none;
}

#put-in-tray {
	right: 12px;
	top: 13px;
	width: 13px;
	height: 13px;
	position: absolute;
	-webkit-app-region: no-drag;
	border-radius: 50%;
	background: #CCC;
}

#put-in-tray > img {
	display: none;
}

#put-in-tray:hover {
	box-shadow: none;
}

#put-in-tray:hover > img {
	display: block;
}

#put-in-tray img {
	width: 7px;
	margin: 0 0 -1.5px -3px;
	opacity: 0.7;
}

form {
	text-align: center;
	margin-bottom: 70px;
}

form label {
	position: relative;
	bottom: -2px;
	left: -3px;
}

form input {
	background: #303030;
	border: none;
	border-radius: 4px;
	font-size: 12px;
	height: 30px;
	padding-left: 5px;
	vertical-align: middle;
	width: 350px;
	color: #AAA;
}

form input:focus {
	border: none;
	box-shadow: 0 0 4px rgba(81, 203, 238, 1);
	outline: none;
	transition: 0.3s;
}

button {
	background: #303030;
	border: none;
	color: #AAA;
	border-radius: 4px;
	height: 32px;
	width: 40px;
	outline: none;
	transition: all 0.3s
}

button:hover {
	cursor: pointer;
	box-shadow: 0 0 4px rgba(81, 203, 238, 1);
	transition: all 0.3s
}

#download-btn img {
	width: 22px;
	position: relative;
	margin-bottom: -9.8px;
	bottom: 3px;
}

.file-drop-container {
	margin: 0 auto;
	margin-top: -30px;
	width: 420px;
	cursor: pointer;
	overflow: hidden;
	padding: 20px 60px;
	text-align: center;
	position: relative;
	background: transparent;
	border: 1px dashed #AAA;
	border-radius: 5px;
}

.upload {
	left: 0;
	top: 0;
	width: 550px;
	height: 60px;
	opacity: 0;
	outline: none;
	cursor: pointer;
	position: absolute;
}

#title {
	text-align: center;
	font-size: 16px;
}

video, audio {
	margin-top: 0px;
	width: 100%;
}

audio {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}

video::-webkit-media-controls-panel, audio::-webkit-media-controls-panel {
	background-color: #232323;
}

video::-webkit-media-controls-volume-slider-container, audio::-webkit-media-controls-volume-slider-container {
	background-color: #303030;
}

video::-webkit-media-controls-volume-slider, audio::-webkit-media-controls-volume-slider {
	background-color: #303030;
}

video::-webkit-media-controls-timeline, audio::-webkit-media-controls-timeline {
	background-color: red;
}

video::-webkit-media-controls, audio::-webkit-media-controls {
	filter: grayscale(100%);
	opacity: 0.9;
}

#progress {
	margin: 10px 5% 20px 5%;
	width: 90%;
	height: 5px;
	display: none;
    -webkit-appearance: none;
}

progress::-webkit-progress-value {
	background: #666 !important;
	border-radius: 10px !important;
}

progress::-webkit-progress-bar {
	background: #303030;
	border-radius: 10px !important;
}

/* About Window */

.about-window {
	position: absolute;
	text-align: center;
	font-size: 13px;
	margin: -40px 20px 0 20px;
}

.about-window a {
	text-decoration: none;
	color: orange;
}

.about-window span {
	display: block;
	margin: 10px 0;
}

/* Preferences Window */

.preferences-window {
	margin: 0;
}

.preferences-window h1 {
	margin-top: -20px;
}

.preferences-window span {
	display: inline;
}

.checkboxes {
	display: block;
	text-align: center;
}

.checkboxes * {
	margin: 10px 5px;
}

.checkboxes input {
	position: relative;
	top: -1px;
}

